:root {
  --text: oklch(0.19 0.03 180);
  --background: oklch(0.97 0.02 180);

  --primary: oklch(0.88 0.14 168);
  --primary-foreground: oklch(0.19 0.03 180);

  --secondary: oklch(0.78 0.11 250);
  --secondary-foreground: oklch(0.19 0.03 180);

  --accent: oklch(0.63 0.17 264);
  --accent-foreground: oklch(1 0 0);

  --success: oklch(0.74 0.14 152);
  --success-foreground: oklch(1 0 0);

  --error: oklch(0.65 0.25 29);
  --error-foreground: oklch(1 0 0);

  --warning: oklch(0.83 0.18 84);
  --warning-foreground: oklch(0.19 0.03 180);

  --info: oklch(0.69 0.18 259);
  --info-foreground: oklch(1 0 0);
}

.dark {
  --text: oklch(0.96 0.02 180);
  --background: oklch(0.08 0.01 180);

  --primary: oklch(0.84 0.13 168);
  --primary-foreground: oklch(0.19 0.03 180);

  --secondary: oklch(0.34 0.09 250);
  --secondary-foreground: oklch(0.96 0.02 180);

  --accent: oklch(0.41 0.15 264);
  --accent-foreground: oklch(1 0 0);

  --success: oklch(0.66 0.13 152);
  --success-foreground: oklch(0.96 0.02 180);

  --error: oklch(0.61 0.23 29);
  --error-foreground: oklch(1 0 0);

  --warning: oklch(0.72 0.17 84);
  --warning-foreground: oklch(0.19 0.03 180);

  --info: oklch(0.63 0.17 259);
  --info-foreground: oklch(1 0 0);
}
